<tomcat-users>
  <role rolename="manager-gui"/>
  <role rolename="manager-script"/>

  <user username="{{ tomcat_admin_user }}" password="{{ tomcat_admin_password }}" roles="manager-gui,manager-script"/>
</tomcat-users>
